body
{
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(to right,#00AAFF,#00FF6C);
}
#table
{
position:relative;
max-width:320px;
max-height:400px;
height:100%;
width:100%;
border-radius:15px;
cursor:pointer;
background:#3a4452;
}
#table input[type="button"]
{
cursor:pointer;
border:0;
outline:0;
border-radius:10px;
box-shadow:-8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
background:transparent;
font-size:27px;
}
#table input[type="button"]:active
{
background:#444E5C;
}
.operator
{
width:65px;
height:60px;
color: aqua;
}
.operand
{
width:65px;
height:60px;
color: white;
}
.long
{
width:65px;
height:130px;
color:aqua;
}
#zero
{
width:145px;
height:60px;
color: white;
}
#screen
{
background:#3a4452;
color:white;
border:none;
outline:none;
max-height:70px;
max-width:300px;
height:100%;
width:100%;
text-align:right;
font-size:40px;
padding:10px;
cursor:text;
}
#history
{
background:#3a4452;
color:#E0E5E5;
border:none;
outline:none;
max-height:35px;
max-width:300px;
height:100%;
width:100%;
text-align:right;
font-size:20px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:0px;
cursor:text;
}